body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    button{
        background-color:rgb(61,185,223);
        color:white;
        padding:14px,20px;
        margin:8px 0;
        border:none;
        width:100%;
        cursor:pointer;
    }
    button:hover{
        opacity:0.6;
    }
    input[type=text],input[type=password]{
        width:100%;
        padding:12px,20px;
        margin:8px 0;
        display:inline-block;
        border:1px solid #ccc;
        box-sizing:border-box;
    }
    .cancelbtn{
        width:auto;
        padding:10px 20px;
        background-color:#f44336;
    }
    .headingcontainer{
        text-align:center;
        margin:24px 0 12px 0;
    }
    .container{
        padding:16px;
    }
    span.psw{
        float:right;
        padding-top:16px;
    }